DISCORD_TOKEN=
OWNER_ID=
COMMAND_PREFIX=!
LOG_LEVEL=INFO
ENVIRONMENT=development
STATUS_MESSAGE=En développement | !help
CROUS_RESTAURANT_ID=
CROUS_CHANNEL_ID=
PRESENCE_CARRIER_ROLE_ID=
PRESENCE_ACCESS_ROLE_ID=
PRESENCE_DATABASE_PATH=data/presence.db
